<nav class="navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/login" class="nav-link">Login</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/register" class="nav-link">Register</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-home"></i>
        <span class="badge badge-danger navbar-badge">2</span>
      </a>

      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a routerLink="/register" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="assets/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Creer Un Compte
                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm">Pour etre des Notres</p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 2 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a routerLink="/login" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="assets/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Connectez Vous
                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm">Il y'a du Nouveau Mr/Mlle</p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
       
        
      </div>
     
    </li>
   
  </ul>
</nav>
<hr>





<router-outlet>
  
</router-outlet>