#form{
    border: solid green 1px;
    margin: 2%;
    padding: 3%;
}
#form p{
    text-align: center;
    background-color: black;
    color: white;
    padding: 4%;
    font-family: cursive;
    
}
button{
    margin: 1px;
}
.alert{
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: 10px;
    padding: 2%;
    text-align: center;
}
#form label{
    color: cadetblue;
}
#form strong{
    color: blue;
}