<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-3">
              <h4 class="m-0 text-dark">
                  <a routerLink="/admin/new-principale">Ajoutez un Nouveau</a>
              </h4>
            </div>

            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Principales</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
            <!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>

      <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="row">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th><th>Nom Proffesseur</th><th>Nom De La Class</th><th>Login</th><th>Password</th><th>Operation</th>
                      </tr>
                    </thead>
          
                    <tbody>
                      <tr *ngFor="let compo of [1,2,4]">
                        <td>{{compo}}</td><td>{{compo}}</td><td>{{compo}}</td><td>*********</td><td>********</td><td><button class="btn btn-danger">Suprimer</button></td>
                        <td>
                           <!-- <button class="btn btn-sm btn-outline-primary" (click)="operation='edite' ; selectectCompo = compo ;updateCompo();">EDITE</button> -->
                            
                        </td>
                      </tr>
                    </tbody>
                  </table>
                   
               
                
                </div>
    
    
            </div>
            
        </div>
    </div>
    
    
    



     

</div>

